.post-item h1 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    border-bottom-style: solid;
}

.content {
    font-size: 20px;
    text-indent: 30px;
    font-style: italic;
    padding-bottom: 30px;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: 15px;
}
footer a {
    text-decoration: none;
}

footer p {
    text-align: left;
    font-size: 15px;
}
