/* Global styles */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: double 10px;
}

header h1 {
    padding-left: 50px;
    margin-right: auto;
    font-size: 25px;
}

header nav {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

header div {
    margin-right: 15px;
}

button {
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

main {
    padding: 1rem;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
}

/* Additional styles for dark mode */
.dark-mode .toggle-label {
    background-color: #222; /* Adjust color for dark mode */
    color: #fff; /* Adjust color for dark mode */
}

/* Dark mode styles */
.dark-mode header {
    background-color: #222;
    color: #fff;
}

.dark-mode main {
    background-color: #333;
    color: #fff;
}

.dark-mode .post-item {
    background-color: #444;
    color: #fff;
}

.dark-mode .post-item h1 {
    color: #fff;
}


.dark-mode footer {
    background-color: #222;
    color: #fff;
}

.dark-mode footer a {
    color: #fff;
}